trade/assets
docker/php/conf/xdebug.ini
trade/public/assets
trade/**/.gitignore
.idea
trade/**/*cache*




trade/app/cache/*
trade/app/logs/*
!trade/app/cache/.gitkeep
!trade/app/logs/.gitkeep

trade/public/bundles

trade/app/spool/*

trade/var/cache/*
trade/var/logs/*
trade/var/sessions/*
!trade/var/cache/.gitkeep
!trade/var/logs/.gitkeep
!trade/var/sessions/.gitkeep

trade/var/log/*
!trade/var/log/.gitkeep

trade/app/config/parameters.yml
trade/app/config/parameters.ini

trade/app/bootstrap.php.cache
trade/var/bootstrap.php.cache
trade/bin/*
!trade/bin/console
!trade/bin/symfony_requirements
trade/vendor/

trade/web/bundles/
trade/web/uploads/

trade/app/phpunit.xml
trade/phpunit.xml

trade/build/

trade/composer.phar

trade/**/Entity/*~

trade/.web-server-pid

